<header class="bg-gray-800 text-white py-4 border-b-red-700 px-4">
  <nav class="container mx-auto flex justify-between">
    <p class="font-bold">McRun.ie</p>
    <div>
      <a href="#" class="hover:text-gray-300">Home</a>
      <a href="#" class="hover:text-gray-300">Map</a>
      <a href="#" class="hover:text-gray-300">Articles</a>
      <a href="#" class="hover:text-gray-300">Training & Health</a>
      <a href="#" class="hover:text-gray-300">Runner statistic</a>
    </div>
    <div>
      <button class="">Join now</button>
      <button class="">Join Runners Hub</button>
    </div>
  </nav>
</header>
