<header class="bg-white text-[0F172A] py-4 border-b-red-700 px-4">
  <nav class="container mx-auto flex justify-between items-center">
    <p class="font-bold">McRun.ie</p>
    <div class="flex gap-16">
    @for (link of links; track link.title) {
      <a [routerLink]=[link.path] class="hover:text>gray-300">{{link.title}}</a>
      }


    </div>
    <div>
      <button class="border-2 py-2 px-8 mx-4 text-blue-600 rounded-md border-blue-600">Contact now</button>
      <button class="border-2 bg-blue-600 text-white py-2 px-8 mx-4 rounded-md border-blue-600">Join Runners Hub</button>
    </div>
  </nav>
</header>

