<main class="flex-1 mx-auto">
<!--  @for (run of runs;track run.attributes.slug) {-->
<!--      <p class="post__desc">{{ run.attributes.name }}</p>-->
<!--      <p class="post__desc">{{ run.attributes.date }}</p>-->
<!--      <p class="post__desc">{{ run.attributes.latitude }}</p>-->
<!--      <p class="post__desc">{{ run.attributes.place }}</p>-->
<!--    }-->
  <mcrun-landing-map-settings-bar></mcrun-landing-map-settings-bar>
  <div class="grid grid-cols-1 sm:grid-cols-2 h-full">
    <list-component [runs]="runs" />
    <mapbox-map/>
  </div>
</main>
