<div>
  <div>
    subpage
  </div>
  <ng-container *ngIf="project$ | async as project">
    <h1>{{ project.attributes.title }}</h1>
    <analog-markdown [content]="project.content"></analog-markdown>
  </ng-container>
  <div>
<!--    {{ name }}-->
  </div>

</div>
<!--<div>-->
<!--  <h1>{{ run?.name }}</h1>-->
<!--&lt;!&ndash;  <p>Date: {{ run?.date | date }}</p>&ndash;&gt;-->
<!--  <p>Place: {{ run?.place }}</p>-->
<!--  <p>Type: {{ run?.type }}</p>-->
<!--</div>-->
<!--<ng-template #loading>-->
<!--  <p>Loading...</p>-->
<!--</ng-template>-->

