<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
<run-item-component [run]="{'name': 'Brighton Run', 'date': '2024-04-23'}"/>
