<div class="relative border-2 border-pink-500 overflow-x-auto shadow-md sm:rounded-lg">
  <div
    class=" flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
  </div>
  <div
    class="bg-white flex flex-row justify-between items-center border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <div class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">

      <div class="bg-green-400 w-32 h-full text-white flex flex-col items-center">
        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">24</h5>
        <span class="font-bold tracking-tight text-gray-900 dark:text-white">April</span>
      </div>
    </div>
    <div class="px-6 py-4">
      React Developer
    </div>
    <div class="px-6 py-4">
      <div class="flex items-center">
        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
        Online
      </div>
    </div>
    <div class="px-6 py-4">
      <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>
    </div>
  </div>
</div>
