<div class="relative border-2 border-gray-500 overflow-x-auto shadow-md sm:rounded-lg">
  <div
    class="bg-white flex flex-row justify-between items-center border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <div class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
      <div class="bg-blue-600 w-32 h-full text-white flex flex-col items-center rounded-2xl">
        <h5 class="text-2xl font-bold tracking-tight dark:text-white">24</h5>
        <span class="font-bold tracking-tight dark:text-white">April</span>
      </div>
    </div>
    <div class="px-6 py-4">
      <h2 class="font-bold text-2xl">{{run.name}}</h2>
    </div>
    <div class="px-6 py-4">
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
        </svg>
        Belfast
      </div>
    </div>
    <div class="flex flex-col gap-0.5 px-6 py-4">
      <span class="bg-gray-100 text-center text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">10 km</span>
      <span class="bg-gray-100 text-center text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">Halfmarathon</span>
    </div>
  </div>
</div>
